.python-version
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg
.Python
pip-selfcheck.json
bin/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
.eggs
include
lib
lib64
share
pyvenv.cfg
